<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Create new customer</p><br>

<form method="post">
   <p>Name:</p>
    <input type="text" name="name"><br>

   <p>E-mail:</p>
    <input type="text" name="email"><br>

   <p>Your Age:</p>
    <input type="text" name="age"><br><br>

    <p>Your IDAccount:</p>
    <input type="text" name="idAccount"><br><br>

    <input type="submit">
</form>

</body>
</html>