<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<p>Choice your page</p>

<p>0 - Personal information</p>
<p>1 - Create new account</p>
<p>2 - Create new customer</p>
<p>3 - List customer</p>
<p>4 - Put money on balance</p>
<p>5 - Withdraw money from balance</p>
<p>6 - Transfer money</p>
<p>7 - Remove customer</p>
<p>8 - Remove account</p>
<p>9 - Remake customer</p>
<p>10 - Balance</p>
<p>11 - EmployerCreate</p>
<p>12 - Account add</p>

<form method="post">
  <p>PageNumber:      <input type="number" name="checkPage"><br>


  <input type="submit" value="Перейти">
</form>

</body>
</html>