<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
   a {
    text-decoration: none;
    color: #666
   }

    </style>
</head>
<body>
<p>Choice your page</p>

<!--<p>0 - Personal information</p>
<p>1 - Create new account</p>
<p>2 - Create new customer</p>
<a href="/list">3 - List customer</a>
<p>4 - Put money on balance</p>
<p>5 - Withdraw money from balance</p>
<p>6 - Transfer money</p>
<p>7 - Remove customer</p>
<p>8 - Remove account</p>
<p>9 - Remake customer</p>
<p>10 - Balance</p>
<p>11 - EmployerCreate</p>
<p>12 - Account add</p>-->
<ol>
    <li><a href="/accountCreate">Create new account</a></li>
    <li><a href="/customer-create">Create new customer</a>
    <li><a href="/list">List customer</a>
    <li><a href="/putMoney">Put money on balance</a>
    <li><a href="/withdrawMoney">Withdraw money from balance</a>
    <li><a href="/transferMoney">Transfer money</a>
    <li><a href="/removeCustomer">Remove customer</a>
    <li><a href="/removeAccount">Remove account</a>
    <li><a href="/remakeCustomer">Remake customer</a>
    <li><a href="/balance">Balance</a>
    <li><a href="/employerCreate">EmployerCreate</a>
    <li><a href="/logout">logout</a></li>
</ol>


</body>
</html>