<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Withdraw money</p><br>

<form method="post">
      <!--<p>Id customer:</p>      <input type="number" name="idCustomer"><br>-->
    <p>Id account:</p>      <input type="number" name="idAccount"><br>
     <p>Money:</p>          <input type="text" name="valueM"><br>

    <input type="submit" value="WITHDRAW">
</form>

</body>
</html>